mixin abonement1
	.account__block
		.row.middle-xs
			.col-sm-13
				span.account__block__number-order 201032
			.col-sm-13
				span.account__block__type Абонемент
			.col-sm-13
				span.account__block__status.account__block__status--green В работе
			.col-sm-13
				span.account__block__date 20.06.2017 
			.col-sm-13
				span.account__block__sum 1180
				i.icon-ruble
			.col-sm-14
				a.btn.btn--account
					i Детали
		.account__block__inside
			.row
				.col-xs-12.center-xs
					hr
					h3.account__block__inside__heading--2 Абонемент по корзинам белья 
				.col-xs-12
					.row.center-xs
						.col-sm-5
							.account__block__inside__title Всего корзин в абонементе
						.col-sm-3
							.account__block__inside__title Использовано
						.col-sm-4
							.account__block__inside__title Доступно
						.col-xs-12
							hr
				.col-xs-12
					.row.center-xs
						.col-sm-5
							.account__block__inside__count
								span 12 шт
						.col-sm-3
							.account__block__inside__count
								span 7 шт
						.col-sm-4
							.account__block__inside__count
								span 5 шт
						.col-xs-12
							hr
				.col-xs-12.account__block__inside__table
					.row.center-xs
						.col-sm-8
							span Срок действия абонемента
						.col-sm-4.center-xs
							span 3 месяца
					.row
						.col-sm-8
							span Активация 
						.col-sm-4.center-xs
							span 18.06.2017
					.row
						.col-sm-8
							span Дата окончания
						.col-sm-4.center-xs
							span 18.09.2017
				.col-xs-12.account__block__inside__more
					.row
						.col-sm-4
							h5 Адрес забора белья:  
						.col-sm-8
							p г. Санкт-Петербург, ул. Маршала Рокоссовского, д. 11 
						.col-sm-4
							h5 Дата приезда курьера:
						.col-sm-8
							p 19.06.2017
						.col-sm-4
							h5 Способ оплаты:
						.col-sm-8
							p Наличными курьеру при получении
						.col-sm-4
							h5 Телефон:
						.col-sm-8
							p +7(900)000-00-00
						.col-sm-4
							h5 E-mail:
						.col-sm-8
							p info@mail.ru
		.account__block__courier
			.row.middle-xs
				.col-sm-9.flex.middle-xs
					span !
					p Как только Ваша корзина белья заполнится нажмите кнопку справа
				.col-sm-3
					a.btn.btn--courier
						i Вызвать курьера
mixin raz1
	.account__block
		.row.middle-xs
			.col-sm-13
				span.account__block__number-order 201032
			.col-sm-13
				span.account__block__type Разовый<br>белье 
			.col-sm-13
				span.account__block__status.account__block__status--green В работе
			.col-sm-13
				span.account__block__date 20.06.2017 
			.col-sm-13
				span.account__block__sum 1180
				i.icon-ruble
			.col-sm-14
				a.btn.btn--account
					i Детали
		.account__block__inside
			.row
				.col-xs-12
					hr
					h3.account__block__inside__heading Состав заказа:
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name
								h4 1. Одежда и постельное белье с глажкой 
						.col-sm-2
							.account__block__inside__count
								span 16 шт
						.col-sm-2
							.account__block__inside__sum
								span 1280
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name
								h4 2. Крупные вещи 
						.col-sm-2
							.account__block__inside__count
								span 1 шт
						.col-sm-2
							.account__block__inside__sum
								span 100
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name
								h4 3. Забор и доставка курьером  
						.col-sm-2
							.account__block__inside__count
								span -
						.col-sm-2
							.account__block__inside__sum
								span 300
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name.account__block__inside__name--total
								h4 Итого: 
						.col-sm-2
							.account__block__inside__count.account__block__inside__count--total
								span 17 шт
						.col-sm-2
							.account__block__inside__sum.account__block__inside__count--total
								span 1580
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12.account__block__inside__more
					.row
						.col-sm-4
							h5 Адрес забора белья:  
						.col-sm-8
							p г. Санкт-Петербург, ул. Маршала Рокоссовского, д. 11 
						.col-sm-4
							h5 Дата приезда курьера:
						.col-sm-8
							p 19.06.2017
						.col-sm-4
							h5 Способ оплаты:
						.col-sm-8
							p Наличными курьеру при получении
						.col-sm-4
							h5 Телефон:
						.col-sm-8
							p +7(900)000-00-00
						.col-sm-4
							h5 E-mail:
						.col-sm-8
							p info@mail.ru

mixin abonement2
	.account__block
		.row.middle-xs
			.col-sm-13
				span.account__block__number-order 201032
			.col-sm-13
				span.account__block__type Абонемент
			.col-sm-13
				span.account__block__status.account__block__status--red Завершено
			.col-sm-13
				span.account__block__date 20.06.2017 
			.col-sm-13
				span.account__block__sum 1180
				i.icon-ruble
			.col-sm-14
				a.btn.btn--account
					i Детали
		.account__block__inside
			.row
				.col-xs-12.center-xs
					hr
					h3.account__block__inside__heading--2 Абонемент по корзинам белья 
				.col-xs-12
					.row.center-xs
						.col-sm-5
							.account__block__inside__title Всего корзин в абонементе
						.col-sm-3
							.account__block__inside__title Использовано
						.col-sm-4
							.account__block__inside__title Доступно
						.col-xs-12
							hr
				.col-xs-12
					.row.center-xs
						.col-sm-5
							.account__block__inside__count
								span 12 шт
						.col-sm-3
							.account__block__inside__count
								span 7 шт
						.col-sm-4
							.account__block__inside__count
								span 5 шт
						.col-xs-12
							hr
				.col-xs-12.account__block__inside__table
					.row.center-xs
						.col-sm-8
							span Срок действия абонемента
						.col-sm-4.center-xs
							span 3 месяца
					.row
						.col-sm-8
							span Активация 
						.col-sm-4.center-xs
							span 18.06.2017
					.row
						.col-sm-8
							span Дата окончания
						.col-sm-4.center-xs
							span 18.09.2017
				.col-xs-12.account__block__inside__more
					.row
						.col-sm-4
							h5 Адрес забора белья:  
						.col-sm-8
							p г. Санкт-Петербург, ул. Маршала Рокоссовского, д. 11 
						.col-sm-4
							h5 Дата приезда курьера:
						.col-sm-8
							p 19.06.2017
						.col-sm-4
							h5 Способ оплаты:
						.col-sm-8
							p Наличными курьеру при получении
						.col-sm-4
							h5 Телефон:
						.col-sm-8
							p +7(900)000-00-00
						.col-sm-4
							h5 E-mail:
						.col-sm-8
							p info@mail.ru
		.account__block__courier
			.row.middle-xs
				.col-sm-9.flex.middle-xs
					span !
					p Для повторного оформления заказа нажмите кнопку справа
				.col-sm-3
					a.btn.btn--courier
						i Повторить заказ
mixin raz2
	.account__block
		.row.middle-xs
			.col-sm-13
				span.account__block__number-order 201032
			.col-sm-13
				span.account__block__type Разовый<br>белье 
			.col-sm-13
				span.account__block__status.account__block__status--red Завершено
			.col-sm-13
				span.account__block__date 20.06.2017 
			.col-sm-13
				span.account__block__sum 1180
				i.icon-ruble
			.col-sm-14
				a.btn.btn--account
					i Детали
		.account__block__inside
			.row
				.col-xs-12
					hr
					h3.account__block__inside__heading Состав заказа:
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name
								h4 1. Одежда и постельное белье с глажкой 
						.col-sm-2
							.account__block__inside__count
								span 16 шт
						.col-sm-2
							.account__block__inside__sum
								span 1280
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name
								h4 2. Крупные вещи 
						.col-sm-2
							.account__block__inside__count
								span 1 шт
						.col-sm-2
							.account__block__inside__sum
								span 100
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name
								h4 3. Забор и доставка курьером  
						.col-sm-2
							.account__block__inside__count
								span -
						.col-sm-2
							.account__block__inside__sum
								span 300
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-sm-8
							.account__block__inside__name.account__block__inside__name--total
								h4 Итого: 
						.col-sm-2
							.account__block__inside__count.account__block__inside__count--total
								span 17 шт
						.col-sm-2
							.account__block__inside__sum.account__block__inside__count--total
								span 1580
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12.account__block__inside__more
					.row
						.col-sm-4
							h5 Адрес забора белья:  
						.col-sm-8
							p г. Санкт-Петербург, ул. Маршала Рокоссовского, д. 11 
						.col-sm-4
							h5 Дата приезда курьера:
						.col-sm-8
							p 19.06.2017
						.col-sm-4
							h5 Способ оплаты:
						.col-sm-8
							p Наличными курьеру при получении
						.col-sm-4
							h5 Телефон:
						.col-sm-8
							p +7(900)000-00-00
						.col-sm-4
							h5 E-mail:
						.col-sm-8
							p info@mail.ru
		.account__block__courier
			.row.middle-xs
				.col-sm-9.flex.middle-xs
					span !
					p Для повторного оформления заказа нажмите кнопку справа
				.col-sm-3
					a.btn.btn--courier
						i Повторить заказ

doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Lavataria
		meta(http-equiv="Cache-Control" content="no-cache")
		link(rel="stylesheet", href="css/flexboxgrid.min.css")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/select-theme-blue.css")
		link(rel="stylesheet", href="css/select-theme-green.css")
		link(rel="stylesheet", href="css/swiper.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		link(rel="stylesheet", href="css/flatpickr.css")
		link(rel="stylesheet", href="css/styles.css")
	body
		#loading
			#preloader
				svg#Calque_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='83.706px', height='96.03px', viewbox='0 0 83.706 96.03', enable-background='new 0 0 83.706 96.03', xml:space='preserve')
					g
						style(type='text/css').
							.st0{fill-rule:evenodd;clip-rule:evenodd; fill: #fff;}
						path.st0(d='M62.9,54.7c-0.8-0.1-1.5-0.2-2.4-0.2c-2,0-3.8,0.4-5.2,0.9l-3-4.5c0.7-0.6,1.2-1,1.2-1c0,0,0,0,0,0c0,0,0,0,0,0\
						c0,0,3.4-3.4,8.9-3.4c1.1,0,2.2,0.2,3.1,0.4L62.9,54.7L62.9,54.7z M42.7,37L42.7,37h-0.2l-0.1,0c0,0-0.1,0-0.1,0h0h-0.1h0\
						c0,0-0.1,0-0.1,0c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.1,0-0.2,0.1c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.2,0.2c-0.1,0.1-0.1,0.1-0.2,0.2\
						c0,0,0,0,0,0l-6.4,10.1c-0.2-0.1-0.3-0.2-0.3-0.3c0,0,0,0,0,0c-0.2-0.2-4.9-4.5-11.4-4.2c-1.7,0.1-3.2,0.4-4.5,0.8L16.7,39\
						c-0.3-0.8-1.2-1.2-2-0.9c-0.8,0.3-1.2,1.2-0.9,2l1.9,5.2c-2.2,1.1-3.5,2.3-3.6,2.4c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0\
						c0.1-0.1,0.9-0.8,2.4-1.6l2.8,7.5c-2.8,1.1-4.3,2.6-4.4,2.7c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0c0.1-0.1,1.2-1.1,3.3-2\
						l4.5,12.4c0.2,0.6,0.8,1,1.4,1h32.6c0.7,0,1.2-0.4,1.5-1l4.3-12.5c2.3,0.9,3.8,2.2,3.8,2.2c0.6,0.6,1.6,0.5,2.2-0.1\
						c0.6-0.6,0.5-1.6-0.1-2.2c-0.1-0.1-2-1.7-4.9-2.8l2.6-7.6c2,0.9,3.1,2,3.2,2c0.6,0.6,1.6,0.5,2.2-0.1c0.6-0.6,0.5-1.6-0.1-2.2\
						c-0.1-0.1-1.7-1.5-4.2-2.6l1.7-4.9c0.3-0.8-0.2-1.7-1-1.9c-0.8-0.3-1.7,0.2-2,1l-1.7,4.9c-1.3-0.3-2.6-0.5-4.1-0.5\
						c-6.9,0-10.9,4.2-11.1,4.3c0,0-0.3,0.3-0.7,0.6l-6.9-10.6c0,0,0,0,0,0c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.1-0.2-0.2-0.2\
						c0,0,0,0,0,0c-0.1,0-0.1,0-0.2-0.1C43,37.1,42.9,37.1,42.7,37L42.7,37L42.7,37z M60.1,62.8L60.1,62.8l-3.1-4.7\
						c1-0.3,2.2-0.5,3.5-0.5c0.5,0,0.9,0,1.4,0.1L60.1,62.8L60.1,62.8z M27.7,68.8L27.7,68.8l-0.9-2.4l4.6-7.3c1.2,0.7,2,1.4,2,1.4\
						c0,0,0,0,0,0c0,0,0,0,0,0c0.2,0.2,4.4,4,9.6,4c5.7,0,9.5-3.9,9.7-4c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.6-0.6,1.6-1.2l4.6,7.1l-0.8,2.4\
						H27.7L27.7,68.8z M25.3,57.6L25.3,57.6c1.2-0.1,2.3,0.1,3.2,0.4l-3.1,4.9l-1.8-5C24.1,57.7,24.7,57.6,25.3,57.6L25.3,57.6z M19.7,47\
						L19.7,47c1.1-0.3,2.3-0.5,3.6-0.6c5.2-0.3,9.1,3.3,9.2,3.4l0,0c0,0,0,0,0,0c0,0,0.3,0.3,0.8,0.6l-3,4.8c-1.5-0.5-3.2-0.8-5.1-0.7\
						c-0.9,0-1.8,0.2-2.6,0.3L19.7,47L19.7,47z M42.5,41.4L42.5,41.4l5.6,8.6c-1.4,0.7-3.1,1.3-5.2,1.3c-2.1,0-4.1-0.8-5.6-1.6L42.5,41.4\
						L42.5,41.4z M50.4,58.4c0.1-0.1,0.8-0.8,2.1-1.7l-2.8-4.2c-1.8,0.9-4.1,1.7-6.8,1.7c-2.8,0-5.3-1-7.2-2.1L33,56.5\
						c1.5,0.9,2.4,1.7,2.5,1.8l0,0c0.1,0.1,3.5,3.2,7.5,3.2C47.3,61.5,50.4,58.5,50.4,58.4L50.4,58.4z')
				.circle.circle--green
					svg(xmlns='http://www.w3.org/2000/svg')
						g
							path.wave(xmlns='http://www.w3.org/2000/svg', d='m692.033997,15.401c0,0 -12.926025,-10 -19.885986,-12c-13.919983,-5 -29.828003,-3 -40.765991,7c-12.926025,8.999999 -29.829041,11.999999 -44.744019,5c-6.960022,-4 -12.926025,-10 -19.885986,-12c-13.921021,-5 -29.830017,-3 -40.767029,7c-12.925964,8.999999 -29.828979,11.999999 -44.742981,5c-6.959991,-4 -12.927002,-10 -19.886993,-12c-13.920013,-5 -29.82901,-3 -40.766998,7c-12.925995,8.999999 -29.82901,11.999999 -44.744019,5c-6.959991,-4 -12.925995,-10 -19.885986,-12c-13.920013,-5 -29.82901,-3 -40.765991,7l0.993988,-1c-16.902985,12.999999 -39.772003,10.999999 -56.675995,-2c-14.914001,-12 -34.800003,-8 -48.721008,2c-16.903,12.999999 -39.770996,10.999999 -56.674988,-2c-14.915009,-12 -34.801003,-8 -48.721008,2c-16.903,12.999999 -39.771996,10.999999 -56.675999,-2c-14.913998,-12 -34.799998,-8 -48.721,2l0,208.940003l736.778041,0l0,-207.940003c-12.922058,8.999999 -29.825073,11.999999 -44.740051,5z')


		#menu.slideout-menu
			.row
				
		#panel
			header.header
				.container
					.row.middle-xs
						.col-sm-4
							.header__city.wow.fadeInDown
								i.icon-marker 
								span Выберете город
								.header__city__hover
									a(href="#") Санкт-Петербург
									a(href="#") Москва
								a(href="tel:8800").header__phone.wow.fadeInDown +7(812) 123-45-67
						.col-sm-4.center-xs
							a(href="#").header__logo
								img(src="img/logo.svg", alt="")
						.col-sm-4.end-sm
							div.flex.end-sm
								a.header__profile.wow.fadeInDown(href="account.html")
									i.icon-profile
									span Личный кабинет
						.col-xs-12
							nav
								ul
									li
										a(href="index.html") Постирать белье
									li
										a(href="calc-2.html") Почистить обувь
									li
										a(href="calc-3.html") Почистить сумки
									li
										a(href="#") О нас
									li
										a(href="#") Доставка
									li
										a(href="#") Абонементы    
			block content

			footer.footer
				.container.footer__top
					.row
						.col-sm-3
							.footer__logo.wow.fadeInUp(data-wow-delay="0.3s")
								img(src="img/logo.svg", alt="Логотип")
								span Стираем, сушим, гладим,<br>доставляем!
						.col-sm-9
							.row
								.col-sm-3.wow.fadeInUp(data-wow-delay="0.3s")
									.heading-2
										h2 О компании
										i.icon-wave-heading-2
									ul
										li
											a(href="#") О нас
										li 
											a(href="#") Частые вопросы
										li 
											a(href="#") Ваши отзывы
										li 
											a(href="#") Статьи
								.col-sm-3.wow.fadeInUp(data-wow-delay="0.35s")
									.heading-2
										h2 Наши услуги
										i.icon-wave-heading-2
									ul
										li
											a(href="#") О нас
										li 
											a(href="#") Частые вопросы
										li 
											a(href="#") Ваши отзывы
										li 
											a(href="#") Статьи
								.col-sm-3.wow.fadeInUp(data-wow-delay="0.4s")
									.heading-2
										h2 Личный кабинет
										i.icon-wave-heading-2
									ul
										li
											a(href="#") Войти
										li 
											a(href="#") Регистрация
								.col-sm-3.footer__last.wow.fadeInUp(data-wow-delay="0.45s")
									.heading-2
										h2 Контакты
										i.icon-wave-heading-2
										p +7(812) 123-45-67<br>info@lavateria.ru<br>г. Санкт-Петербург, <br>ул. Рентгена, д. 9, <br>литера Б
				.footer__copyright
					.container
						.row
							.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay="0.3s")
								p Copyright © LAVATERIA 2017. Все права защищены.
							.col-sm-6.end-sm.col-xs-12.wow.fadeInUp(data-wow-delay="0.3s")
								.flex.end-sm
									a(href="#") by:
										i.icon-logo_excv
											span.path1
											span.path2
											span.path3
											span.path4
											span.path5
											span.path6
											span.path7
											span.path8
											span.path9
											span.path10
											span.path11
											span.path12


				

			
		script(src="https://unpkg.com/vue")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
		script(src="js/swiper.min.js")
		script(src="js/slideout.min.js")
		script(src="js/tether.min.js")
		script(src="js/select.min.js")
		script(src="https://unpkg.com/flatpickr")
		script(src="https://npmcdn.com/flatpickr/dist/l10n/ru.js")
		script(src="js/ResizeSensor.js")
		script(src="js/main.js")


	block script