.select-select {
  display: none;
  /* For when we are on a small touch device and want to use native controls */
  pointer-events: none;
  position: absolute;
  opacity: 0; }

.select-element, .select-element:after, .select-element:before, .select-element *, .select-element *:after, .select-element *:before {
  box-sizing: border-box; }

.select-element {
  position: absolute;
  display: none; }
  .select-element.select-open {
    display: block; }

.select-option{
  font-size: 14px;
  color: #999999;
  transition: color 0.3s;
}
.select-theme-blue .select-option:hover{
  color: #01b3fd;
  transition: color 0.3s;
}
.select-theme-blue .select-option-selected:hover{
  color: #01b3fd;
  transition: color 0.3s;
}
 .select-theme-blue .select-option-selected{
  color: #999999;
}

.select-theme-blue {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px; }
  .select-theme-blue, .select-theme-blue *, .select-theme-blue *:after, .select-theme-blue *:before {
    box-sizing: border-box; }

.select.select-theme-blue {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .select.select-theme-blue .select-content {
    border: 1px solid #dcdcdc;
    margin-top: -20px;
    padding-top: 20px;
    background: #fff;
    color: #333333;
    overflow: auto;
    width: 160px;
    -webkit-overflow-scrolling: touch; }
    @media (max-width: 372px), (max-height: 372px) {
      .select.select-theme-blue .select-content {
        max-width: 155px;
        max-height: 155px; } }
  .select.select-theme-blue .select-options {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin: 0;
    padding-top: 20px;
    padding: 0; }
    .select.select-theme-blue .select-options .select-option {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      position: relative;
      list-style: none;
      margin: 0;
      line-height: 19px;
      padding: 6px 11px 6px 30px;
      display: block;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
     

.select-target.select-theme-blue {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  border-radius: 18px;
  position: relative;
  padding: 7px 30px 7px 22px;
  background: #fff;
  height: 40px;
  width: 160px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px; }
  .select-target.select-theme-blue.select-target-focused, .select-target.select-theme-blue.select-target-focused:focus {
    border-color: #01b3fd;
    outline: none; }
  .select-target.select-theme-blue b {
    position: absolute;
    right: 13px;
    top: 0;
    bottom: 1px;
    margin: auto;
    height: 16px;
    width: 26px; }
    .select-target.select-theme-blue b:before, .select-target.select-theme-blue b:after {
      content: "\e906";
      font-family: icomoon;
      display: block;
      font-size: 19px;
      color: #00b5fc;
      top: -6px;
      position: absolute;
      margin: auto;
      right: 25px;
      height: 0;
      width: 0;
      border: 3px solid transparent; }
.