.page(data-page='calc-1').mobile-calc
	.page-content
		.container
			.row
				.col-xs-12
					h2 Я хочу cдать в стирку
				.col-xs-12.calc
					.mobile-calc__block(data-price="80")
						.row
							.col-xs-12
								h3 Одежда и постельное белье 
									.tooltip(data-popover=".popover-about" class="open-popover")
								span Рубашки, футболки, юбки, брюки, наволочки и т.д.
						.row.active
							.col-xs-8.flex.middle-xs
								.add(data-action="substract")
									span
									i -
								input(type="number" data-action="keyup" data-price="80" value="16" min="0" max="99" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" placeholder="0")
								.add(data-action="add")
									span
									i +
							.col-xs-4.end-xs
								.mobile-calc__block__sum.cart__sum.cart__sum--1
									h3 
										span 1280
									i.icon-ruble
									.mobile-calc__block__sum__span 80 р. за вещь
							.col-xs-12
								hr
				.col-xs-12.calc
					.mobile-calc__block(data-price="100")
						.row
							.col-xs-12
								h3 Крупные вещи 
									.tooltip(data-popover=".popover-about" class="open-popover")
								span Пуховики, куртки, одеяла,пледы и т.д.
						.row.no-active.active
							.col-xs-8.flex.middle-xs
								.add(data-action="substract")
									span
									i -
								input(type="number" data-action="keyup" data-price="100" value="0" min="0" max="99" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" placeholder="0")
								.add(data-action="add")
									span
									i +
							.col-xs-4.end-xs
								.mobile-calc__block__sum.cart__sum.cart__sum--2
									h3 
										span 0
									i.icon-ruble
									.mobile-calc__block__sum__span 100 р. за вещь
							.col-xs-12
								hr
				.col-xs-12
					.mobile-calc__block.mobile-calc__block--delivery
						.row
							.col-xs-12
									h3 Доставка 
										.tooltip(data-popover=".popover-about" class="open-popover")
									span
						.row.middle-xs
							.col-xs-8
								.checkbox
									.checkbox__block
									input#checkbox-delivery-1(type="radio" name="delivery" data-delivery-price="300" data-delivery-price-free="2000" checked)
									label.label(for="checkbox-delivery-1")
									label.label-for(for="checkbox-delivery-1") В пределах КАД
								.checkbox
									.checkbox__block
									input#checkbox-delivery-2(type="radio" name="delivery" data-delivery-price="500" data-delivery-price-free="3000")
									label.label(for="checkbox-delivery-2")
									label.label-for(for="checkbox-delivery-2") До 30 км от КАД
								.checkbox
									.checkbox__block
									input#checkbox-delivery-3(type="radio" name="delivery" data-delivery-price="0" data-delivery-price-free="0")
									label.label(for="checkbox-delivery-3")
									label.label-for(for="checkbox-delivery-3") Самовывоз:<br><span>ул. Рентгена, д. 9 литера Б</span>
							.col-xs-4.end-xs
								.mobile-calc__block__sum.cart-delivery
									h3.cart-delivery-sum 300
									i.icon-ruble.cart-delivery-sum-free
									.mobile-calc__block__sum__span.cart-delivery-sum-free от <span>2000</span> р.<br>бесплатно
							.col-xs-12
								hr
				.col-xs-12
					.mobile-calc__block.mobile-calc__block--free
						h3 Стирка нижнего белья-<br>
							span бесплатно 
							.tooltip(data-popover=".popover-about" class="open-popover")
		.mobile-calc__sum
			.container
				.row
					.col-xs-12.end-xs.total
							h3 Итого:
							span 1580
							i.icon-ruble
		a(href="checkout.html").mobile-calc__checkout Оформить заказ

		.popover.popover-about
			.popover-angle
			.popover-inner
				.content-block
					p About
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.






	
