.page(data-page='checkout-ready').checkout-ready
	.page-content
		.breadcrumb
			.container
				.row
					.col-xs-12
						h3 Иван Иванов, спасибо <br>за Ваш заказ в лаватерии
						p В ближайшее время с Вами свяжется менеджер для подтверждения заказа, а пока проверьте, пожалуйста, его состав, дату и адрес доставки:
		.container
			.row
				.col-xs-12
					h3.checkout__ready__number-order Заказ №201032
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 1. Одежда и постельное белье с глажкой 
						.col-xs-3
							.checkout__ready__count.flex.middle-xs
								span 16 шт
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 1280
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 2. Крупные вещи 
						.col-xs-3
							.checkout__ready__count.flex.middle-xs
								span 1 шт
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 100
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 3. Забор и доставка курьером  
						.col-xs-3
							.checkout__ready__count.flex.middle-xs
								span -
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 300
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name.checkout__ready__name--total
								h4 Итого: 
						.col-xs-3
							.checkout__ready__count.flex.middle-xs.checkout__ready__count--total
								span 17 шт
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs.checkout__ready__count--total
								span 1580
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12.checkout__ready__more
					h5 Адрес забора белья:
					p г. Санкт-Петербург, <br>ул. Маршала Рокоссовского, д. 11
					h5 Дата приезда курьера:
					p 19.06.2017
					h5 Способ оплаты:
					p Наличными курьеру при получении
					h5 Телефон:
					p +7(900)000-00-00
					h5 E-mail:
					p info@mail.ru
		.checkout__ready__sale
			.container
				.row
					div
						h2 Воспользуйтесь<br> нашей новой услугой
							span Профессиональная<br>чистка обуви
						h3  - 30%
							span скидкой
						img(src="../img/checkout-arrow.svg", alt="")
						a(href="calc-3.html").btn.btn--checkout--ready
							i Почистить обувь
						p *Акция действует, если Вы впервые<br> cделали заказ