.page(data-page='clothes-bags').home-mobile.clothes-bags
	.page-content
		.breadcrumb
			h2 Чистка обуви и сумок
		.container
			.row
				.col-xs-12
					p Краткая информация о чистке обуви и сумок, которая у нас есть, ее преимущества. 
				.col-xs-6.home-mobile__block.home-mobile__block__1
					a(href="calc-3.html")
						img(src="img/home-5.svg", alt="")
						h2 Почистить<br>обувь
				.col-xs-6.home-mobile__block.left.home-mobile__block__2
					a(href="calc-2.html")
						img(src="img/home-6.svg", alt="")
						h2 Почистить<br>сумки
		include footer.pug