footer.footer
	.container.footer__top
		.row
			.col-xs-6
				.footer__logo.wow.fadeInUp(data-wow-delay="0.3s")
					img(src="../img/logo.svg", alt="Логотип")
					span Стираем, сушим, гладим,<br>доставляем!
			.col-xs-6
				.footer__contact
					p <a class="external" href="tel:8800">+7(812) 123-45-67</a><br>info@lavateria.ru<br>г. Санкт-Петербург,<br>ул. Рентгена, д. 9,<br>литера Б
	.footer__copyright
		.container
			.row
				.col-xs-6.wow.fadeInUp(data-wow-delay="0.3s")
					p Copyright © LAVATERIA 2017.<br> Все права защищены.
				.col-xs-6.end-sm.wow.fadeInUp(data-wow-delay="0.3s")
					.flex.end-xs
						a(href="#") by
							i.icon-logo_excv
								span.path1
								span.path2
								span.path3
								span.path4
								span.path5
								span.path6
								span.path7
								span.path8
								span.path9
								span.path10
								span.path11
								span.path12