.page(data-page='registration').registration.login
	.page-content
		.breadcrumb
			.container
				.row
					.col-xs-12
						h2 Восстановление доступа
		.container
			.row
				.col-xs-12
					p Если Вы забыли пароль, введите свой номер телефона для востановления доступа.
					input#phone(type="tel" placeholder="+7(***)***-**-**")
					input(type="submit" value="Востановить ")