doctype html
html
	head
		meta(charset='utf-8')
		meta#viewport(name='viewport', content='width=640, minimum-scale=0.3, maximum-scale=3, user-scalable=no')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		title My App
		link(rel="stylesheet", href="../css/flexboxgrid.min.css")
		link(rel="stylesheet", href="../css/fonts.css")
		link(rel='stylesheet', href='../css/framework7.ios.min.css')
		link(rel='stylesheet', href='../css/framework7.ios.colors.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/mobile.css')

	body.mobile
		#loading
			#preloader
				svg#Calque_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='83.706px', height='96.03px', viewbox='0 0 83.706 96.03', enable-background='new 0 0 83.706 96.03', xml:space='preserve')
					g
						style(type='text/css').
							.st0{fill-rule:evenodd;clip-rule:evenodd; fill: #fff;}
						path.st0(d='M62.9,54.7c-0.8-0.1-1.5-0.2-2.4-0.2c-2,0-3.8,0.4-5.2,0.9l-3-4.5c0.7-0.6,1.2-1,1.2-1c0,0,0,0,0,0c0,0,0,0,0,0\
						c0,0,3.4-3.4,8.9-3.4c1.1,0,2.2,0.2,3.1,0.4L62.9,54.7L62.9,54.7z M42.7,37L42.7,37h-0.2l-0.1,0c0,0-0.1,0-0.1,0h0h-0.1h0\
						c0,0-0.1,0-0.1,0c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.1,0-0.2,0.1c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.2,0.2c-0.1,0.1-0.1,0.1-0.2,0.2\
						c0,0,0,0,0,0l-6.4,10.1c-0.2-0.1-0.3-0.2-0.3-0.3c0,0,0,0,0,0c-0.2-0.2-4.9-4.5-11.4-4.2c-1.7,0.1-3.2,0.4-4.5,0.8L16.7,39\
						c-0.3-0.8-1.2-1.2-2-0.9c-0.8,0.3-1.2,1.2-0.9,2l1.9,5.2c-2.2,1.1-3.5,2.3-3.6,2.4c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0\
						c0.1-0.1,0.9-0.8,2.4-1.6l2.8,7.5c-2.8,1.1-4.3,2.6-4.4,2.7c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0c0.1-0.1,1.2-1.1,3.3-2\
						l4.5,12.4c0.2,0.6,0.8,1,1.4,1h32.6c0.7,0,1.2-0.4,1.5-1l4.3-12.5c2.3,0.9,3.8,2.2,3.8,2.2c0.6,0.6,1.6,0.5,2.2-0.1\
						c0.6-0.6,0.5-1.6-0.1-2.2c-0.1-0.1-2-1.7-4.9-2.8l2.6-7.6c2,0.9,3.1,2,3.2,2c0.6,0.6,1.6,0.5,2.2-0.1c0.6-0.6,0.5-1.6-0.1-2.2\
						c-0.1-0.1-1.7-1.5-4.2-2.6l1.7-4.9c0.3-0.8-0.2-1.7-1-1.9c-0.8-0.3-1.7,0.2-2,1l-1.7,4.9c-1.3-0.3-2.6-0.5-4.1-0.5\
						c-6.9,0-10.9,4.2-11.1,4.3c0,0-0.3,0.3-0.7,0.6l-6.9-10.6c0,0,0,0,0,0c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.1-0.2-0.2-0.2\
						c0,0,0,0,0,0c-0.1,0-0.1,0-0.2-0.1C43,37.1,42.9,37.1,42.7,37L42.7,37L42.7,37z M60.1,62.8L60.1,62.8l-3.1-4.7\
						c1-0.3,2.2-0.5,3.5-0.5c0.5,0,0.9,0,1.4,0.1L60.1,62.8L60.1,62.8z M27.7,68.8L27.7,68.8l-0.9-2.4l4.6-7.3c1.2,0.7,2,1.4,2,1.4\
						c0,0,0,0,0,0c0,0,0,0,0,0c0.2,0.2,4.4,4,9.6,4c5.7,0,9.5-3.9,9.7-4c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.6-0.6,1.6-1.2l4.6,7.1l-0.8,2.4\
						H27.7L27.7,68.8z M25.3,57.6L25.3,57.6c1.2-0.1,2.3,0.1,3.2,0.4l-3.1,4.9l-1.8-5C24.1,57.7,24.7,57.6,25.3,57.6L25.3,57.6z M19.7,47\
						L19.7,47c1.1-0.3,2.3-0.5,3.6-0.6c5.2-0.3,9.1,3.3,9.2,3.4l0,0c0,0,0,0,0,0c0,0,0.3,0.3,0.8,0.6l-3,4.8c-1.5-0.5-3.2-0.8-5.1-0.7\
						c-0.9,0-1.8,0.2-2.6,0.3L19.7,47L19.7,47z M42.5,41.4L42.5,41.4l5.6,8.6c-1.4,0.7-3.1,1.3-5.2,1.3c-2.1,0-4.1-0.8-5.6-1.6L42.5,41.4\
						L42.5,41.4z M50.4,58.4c0.1-0.1,0.8-0.8,2.1-1.7l-2.8-4.2c-1.8,0.9-4.1,1.7-6.8,1.7c-2.8,0-5.3-1-7.2-2.1L33,56.5\
						c1.5,0.9,2.4,1.7,2.5,1.8l0,0c0.1,0.1,3.5,3.2,7.5,3.2C47.3,61.5,50.4,58.5,50.4,58.4L50.4,58.4z')
				.circle.circle--green
					svg(xmlns='http://www.w3.org/2000/svg')
						g
							path.wave(xmlns='http://www.w3.org/2000/svg', d='m692.033997,15.401c0,0 -12.926025,-10 -19.885986,-12c-13.919983,-5 -29.828003,-3 -40.765991,7c-12.926025,8.999999 -29.829041,11.999999 -44.744019,5c-6.960022,-4 -12.926025,-10 -19.885986,-12c-13.921021,-5 -29.830017,-3 -40.767029,7c-12.925964,8.999999 -29.828979,11.999999 -44.742981,5c-6.959991,-4 -12.927002,-10 -19.886993,-12c-13.920013,-5 -29.82901,-3 -40.766998,7c-12.925995,8.999999 -29.82901,11.999999 -44.744019,5c-6.959991,-4 -12.925995,-10 -19.885986,-12c-13.920013,-5 -29.82901,-3 -40.765991,7l0.993988,-1c-16.902985,12.999999 -39.772003,10.999999 -56.675995,-2c-14.914001,-12 -34.800003,-8 -48.721008,2c-16.903,12.999999 -39.770996,10.999999 -56.674988,-2c-14.915009,-12 -34.801003,-8 -48.721008,2c-16.903,12.999999 -39.771996,10.999999 -56.675999,-2c-14.913998,-12 -34.799998,-8 -48.721,2l0,208.940003l736.778041,0l0,-207.940003c-12.922058,8.999999 -29.825073,11.999999 -44.740051,5z')
		.statusbar-overlay
		.panel-overlay
		.views
			.view.view-main
				.mobile-menu
					.container
						.row
							.col-xs-12
								ul
									li.mobile-menu__profile
										img(src="img/profile.svg", alt="")
										a(href="login.html") Войти   
										span /
										a(href="registration.html") Регистрация
									li.mobile-menu__city.mobile-city
										img(src="img/marker.svg", alt="")
										a Город: 
											span Санкт-Петербург
									li
										a(href="#") О нас
									li
										a(href="#") Доставка
									li
										a(href="#") Отзывы
									li
										a(href="index.html") Услуги
									li.mobile-menu__phone
										img(src="img/phone.svg", alt="")
										a.external(href="tel:7800") +7(812) 123-45-67
								ul.mobile-menu__hidden
									li.mobile-menu__back
										a Назад
									li.mobile-menu__city
										img(src="img/marker.svg", alt="")
										a(href="#") Выберите город:
									li.mobile-menu__city__list
										a(href="#") Москва
										a(href="#") Санкт-Петербург
				.navbar
					.navbar-inner
						header.header
							a.back
								img(src="img/back.svg", alt="")
							.container
								.row.center-xs
									.col-xs-12
										a.logo__mobile
											img(src="../img/logo.svg", alt="")
							a.menu-open
								span
				.pages.navbar-through.toolbar-through
					.page(data-page='index')
						.page-content.home-mobile
							.container.home-mobile__container
								.row
									.col-xs-12.center-xs
										h1.wow.fadeIn Стираем, <br>
											i.icon-slider-wave
											| сушим, гладим,<br>доставляем!
									.col-xs-6.home-mobile__block.flex.center-xs.home-mobile__block__1
										a(href="calc-1.html")
											img(src="img/home-1.svg", alt="")
											h2 Постирать<br>с доставкой
									.col-xs-6.home-mobile__block.flex.center-xs.left.home-mobile__block__2
										a(href="subscriptions.html")
											img(src="img/home-2.svg", alt="")
											h2 Оформить<br>абонемент
									.col-xs-6.home-mobile__block.flex.center-xs.home-mobile__block__3
										a(href="clothes-bags.html")
											img(src="img/home-3.svg", alt="")
											h2 Почистить<br>обувь/сумки
									.col-xs-6.home-mobile__block.flex.center-xs.left.home-mobile__block__4
										a(href="profile.html")
											img(src="img/home-4.svg", alt="")
											h2 Личный<br>кабинет
							include footer.pug

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(type='text/javascript', src='../js/jquery.maskedinput.min.js')
		script(src="https://unpkg.com/flatpickr")
		script(src="https://npmcdn.com/flatpickr/dist/l10n/ru.js")
		script(type='text/javascript', src='../js/framework7.min.js')
		script(type='text/javascript', src='../js/mobile.js')





//- doctype
//- html(lang="ru")
//- 	head
//- 		meta(charset="UTF-8")
//- 		title Lavataria
//- 		meta#viewport(name='viewport', content='width=640, minimum-scale=0.3, maximum-scale=3, user-scalable=yes')
//- 		meta(http-equiv="Cache-Control" content="no-cache")
//- 		link(rel="stylesheet", href="../css/flexboxgrid.min.css")
//- 		link(rel="stylesheet", href="../css/reset.css")
//- 		link(rel="stylesheet", href="../css/fonts.css")
//- 		link(rel="stylesheet", href="../css/select-theme-blue.css")
//- 		link(rel="stylesheet", href="../css/select-theme-green.css")
//- 		link(rel="stylesheet", href="../css/swiper.min.css")
//- 		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
//- 		link(rel="stylesheet", href="../css/flatpickr.css")
//- 		link(rel="stylesheet", href="../css/styles.css")
//- 	body.mobile
//- 		#loading
//- 			#preloader
//- 				svg#Calque_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='83.706px', height='96.03px', viewbox='0 0 83.706 96.03', enable-background='new 0 0 83.706 96.03', xml:space='preserve')
//- 					g
//- 						style(type='text/css').
//- 							.st0{fill-rule:evenodd;clip-rule:evenodd; fill: #fff;}
//- 						path.st0(d='M62.9,54.7c-0.8-0.1-1.5-0.2-2.4-0.2c-2,0-3.8,0.4-5.2,0.9l-3-4.5c0.7-0.6,1.2-1,1.2-1c0,0,0,0,0,0c0,0,0,0,0,0\
//- 						c0,0,3.4-3.4,8.9-3.4c1.1,0,2.2,0.2,3.1,0.4L62.9,54.7L62.9,54.7z M42.7,37L42.7,37h-0.2l-0.1,0c0,0-0.1,0-0.1,0h0h-0.1h0\
//- 						c0,0-0.1,0-0.1,0c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.1,0-0.2,0.1c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.2,0.2c-0.1,0.1-0.1,0.1-0.2,0.2\
//- 						c0,0,0,0,0,0l-6.4,10.1c-0.2-0.1-0.3-0.2-0.3-0.3c0,0,0,0,0,0c-0.2-0.2-4.9-4.5-11.4-4.2c-1.7,0.1-3.2,0.4-4.5,0.8L16.7,39\
//- 						c-0.3-0.8-1.2-1.2-2-0.9c-0.8,0.3-1.2,1.2-0.9,2l1.9,5.2c-2.2,1.1-3.5,2.3-3.6,2.4c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0\
//- 						c0.1-0.1,0.9-0.8,2.4-1.6l2.8,7.5c-2.8,1.1-4.3,2.6-4.4,2.7c-0.6,0.6-0.6,1.6,0,2.2c0.6,0.6,1.6,0.6,2.2,0c0.1-0.1,1.2-1.1,3.3-2\
//- 						l4.5,12.4c0.2,0.6,0.8,1,1.4,1h32.6c0.7,0,1.2-0.4,1.5-1l4.3-12.5c2.3,0.9,3.8,2.2,3.8,2.2c0.6,0.6,1.6,0.5,2.2-0.1\
//- 						c0.6-0.6,0.5-1.6-0.1-2.2c-0.1-0.1-2-1.7-4.9-2.8l2.6-7.6c2,0.9,3.1,2,3.2,2c0.6,0.6,1.6,0.5,2.2-0.1c0.6-0.6,0.5-1.6-0.1-2.2\
//- 						c-0.1-0.1-1.7-1.5-4.2-2.6l1.7-4.9c0.3-0.8-0.2-1.7-1-1.9c-0.8-0.3-1.7,0.2-2,1l-1.7,4.9c-1.3-0.3-2.6-0.5-4.1-0.5\
//- 						c-6.9,0-10.9,4.2-11.1,4.3c0,0-0.3,0.3-0.7,0.6l-6.9-10.6c0,0,0,0,0,0c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.1-0.2-0.2-0.2\
//- 						c0,0,0,0,0,0c-0.1,0-0.1,0-0.2-0.1C43,37.1,42.9,37.1,42.7,37L42.7,37L42.7,37z M60.1,62.8L60.1,62.8l-3.1-4.7\
//- 						c1-0.3,2.2-0.5,3.5-0.5c0.5,0,0.9,0,1.4,0.1L60.1,62.8L60.1,62.8z M27.7,68.8L27.7,68.8l-0.9-2.4l4.6-7.3c1.2,0.7,2,1.4,2,1.4\
//- 						c0,0,0,0,0,0c0,0,0,0,0,0c0.2,0.2,4.4,4,9.6,4c5.7,0,9.5-3.9,9.7-4c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0.6-0.6,1.6-1.2l4.6,7.1l-0.8,2.4\
//- 						H27.7L27.7,68.8z M25.3,57.6L25.3,57.6c1.2-0.1,2.3,0.1,3.2,0.4l-3.1,4.9l-1.8-5C24.1,57.7,24.7,57.6,25.3,57.6L25.3,57.6z M19.7,47\
//- 						L19.7,47c1.1-0.3,2.3-0.5,3.6-0.6c5.2-0.3,9.1,3.3,9.2,3.4l0,0c0,0,0,0,0,0c0,0,0.3,0.3,0.8,0.6l-3,4.8c-1.5-0.5-3.2-0.8-5.1-0.7\
//- 						c-0.9,0-1.8,0.2-2.6,0.3L19.7,47L19.7,47z M42.5,41.4L42.5,41.4l5.6,8.6c-1.4,0.7-3.1,1.3-5.2,1.3c-2.1,0-4.1-0.8-5.6-1.6L42.5,41.4\
//- 						L42.5,41.4z M50.4,58.4c0.1-0.1,0.8-0.8,2.1-1.7l-2.8-4.2c-1.8,0.9-4.1,1.7-6.8,1.7c-2.8,0-5.3-1-7.2-2.1L33,56.5\
//- 						c1.5,0.9,2.4,1.7,2.5,1.8l0,0c0.1,0.1,3.5,3.2,7.5,3.2C47.3,61.5,50.4,58.5,50.4,58.4L50.4,58.4z')
//- 				.circle.circle--green
//- 					svg(xmlns='http://www.w3.org/2000/svg')
//- 						g
//- 							path.wave(xmlns='http://www.w3.org/2000/svg', d='m692.033997,15.401c0,0 -12.926025,-10 -19.885986,-12c-13.919983,-5 -29.828003,-3 -40.765991,7c-12.926025,8.999999 -29.829041,11.999999 -44.744019,5c-6.960022,-4 -12.926025,-10 -19.885986,-12c-13.921021,-5 -29.830017,-3 -40.767029,7c-12.925964,8.999999 -29.828979,11.999999 -44.742981,5c-6.959991,-4 -12.927002,-10 -19.886993,-12c-13.920013,-5 -29.82901,-3 -40.766998,7c-12.925995,8.999999 -29.82901,11.999999 -44.744019,5c-6.959991,-4 -12.925995,-10 -19.885986,-12c-13.920013,-5 -29.82901,-3 -40.765991,7l0.993988,-1c-16.902985,12.999999 -39.772003,10.999999 -56.675995,-2c-14.914001,-12 -34.800003,-8 -48.721008,2c-16.903,12.999999 -39.770996,10.999999 -56.674988,-2c-14.915009,-12 -34.801003,-8 -48.721008,2c-16.903,12.999999 -39.771996,10.999999 -56.675999,-2c-14.913998,-12 -34.799998,-8 -48.721,2l0,208.940003l736.778041,0l0,-207.940003c-12.922058,8.999999 -29.825073,11.999999 -44.740051,5z')
//- 		header.header
//- 			.container
//- 				.row.center-xs
//- 					.col-xs-12
//- 						.logo__mobile
//- 							img(src="../img/logo.svg", alt="")
//- 			a.menu-open
//- 				span

//- 		block content

//- 		footer.footer
//- 			.container.footer__top
//- 				.row
//- 					.col-xs-6
//- 						.footer__logo.wow.fadeInUp(data-wow-delay="0.3s")
//- 							img(src="../img/logo.svg", alt="Логотип")
//- 							span Стираем, сушим, гладим,<br>доставляем!
//- 					.col-xs-6
//- 						.footer__contact
//- 							p +7(812) 123-45-67<br>info@lavateria.ru<br>г. Санкт-Петербург,<br>ул. Рентгена, д. 9,<br>литера Б
//- 			.footer__copyright
//- 				.container
//- 					.row
//- 						.col-xs-6.wow.fadeInUp(data-wow-delay="0.3s")
//- 							p Copyright © LAVATERIA 2017.<br> Все права защищены.
//- 						.col-xs-6.end-sm.wow.fadeInUp(data-wow-delay="0.3s")
//- 							.flex.end-xs
//- 								a(href="#") by
//- 									i.icon-logo_excv
//- 										span.path1
//- 										span.path2
//- 										span.path3
//- 										span.path4
//- 										span.path5
//- 										span.path6
//- 										span.path7
//- 										span.path8
//- 										span.path9
//- 										span.path10
//- 										span.path11
//- 										span.path12


				

			
		
//- 		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
//- 		script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
//- 		script(src="../js/swiper.min.js")
//- 		script(src="../js/slideout.min.js")
//- 		script(src="../js/tether.min.js")
//- 		script(src="../js/select.min.js")
//- 		script(src="https://unpkg.com/flatpickr")
//- 		script(src="https://npmcdn.com/flatpickr/dist/l10n/ru.js")
//- 		script(src="../js/ResizeSensor.js")
//- 		script(src="../js/main.js")
//- 		script(src="../js/mobile.js")