.page(data-page='profile-info').profile.profile__info
	.page-content
		.breadcrumb
			h2 Заказ 201032
		.container
			.row
				.col-xs-12
					.profile__info__block
						h3 Тип: 
							span Разовый белье
						h3 Статус: 
							span.active В работе
						h3 Дата: 
							span 20.06.2017
				.col-xs-12
					h3 Состав заказа: 
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 1. Одежда и постельное белье с глажкой 
						.col-xs-3
							.checkout__ready__count.flex.middle-xs
								span 16 шт
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 1280
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 2. Крупные вещи 
						.col-xs-3
							.checkout__ready__count.flex.middle-xs
								span 1 шт
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 100
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 3. Забор и доставка курьером  
						.col-xs-3
							.checkout__ready__count.flex.middle-xs
								span -
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 300
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name.checkout__ready__name--total
								h4 Итого: 
						.col-xs-3
							.checkout__ready__count.flex.middle-xs.checkout__ready__count--total
								span 17 шт
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs.checkout__ready__count--total
								span 1580
								i.icon-ruble
						.col-xs-12
							hr
				.col-xs-12.checkout__ready__more
					h5 Адрес забора белья:
					p г. Санкт-Петербург, <br>ул. Маршала Рокоссовского, д. 11
					h5 Дата приезда курьера:
					p 19.06.2017
					h5 Способ оплаты:
					p Наличными курьеру при получении
