.page(data-page='profile-info').profile.profile__info
	.page-content
		.breadcrumb
			h2 Заказ 201032
		.container
			.row
				.col-xs-12
					.profile__info__block
						h3 Тип: 
							span Абонемент
						h3 Статус: 
							span.no-active Завершен
						h3 Дата покупки: 
							span 20.06.2017
				.col-xs-12
					h3 Состав заказа: 
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 Всего корзин в абонементе 
						.col-xs-3
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 7 шт 
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 Использовано
						.col-xs-3
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 5 шт   
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name
								h4 Доступно
						.col-xs-3
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs
								span 2 шт
						.col-xs-12
							hr
				.col-xs-12
					.row
						.col-xs-6
							.checkout__ready__name.checkout__ready__name--total
								h4 Итого: 
						.col-xs-3
						.col-xs-2
							.checkout__ready__sum.end-xs.flex.middle-xs.checkout__ready__count--total
								span 1580
								i.icon-ruble
						.col-xs-12
		.profile__info__sub
			.profile__info__sub__block
				.container
					.row
						.col-xs-6
							.profile__info__sub__name
								h4 Срок действия<br>абонемента
						.col-xs-3
						.col-xs-3
							.profile__info__sub__sum.end-xs.flex.middle-xs
								span 3 месяца
			.profile__info__sub__block
				.container
					.row
						.col-xs-6
							.profile__info__sub__name
								h4 Активация
						.col-xs-3
						.col-xs-3
							.profile__info__sub__sum.end-xs.flex.middle-xs
								span 18.02.2017
			.profile__info__sub__block
				.container
					.row
						.col-xs-6
							.profile__info__sub__name
								h4 Дата<br>окончания
						.col-xs-3
						.col-xs-3
							.profile__info__sub__sum.end-xs.flex.middle-xs
								span 18.05.2017
		.container
			.row
				.col-xs-12.checkout__ready__more
					h5 Адрес забора белья:
					p г. Санкт-Петербург, <br>ул. Маршала Рокоссовского, д. 11
					h5 Дата приезда курьера:
					p 19.06.2017
					h5 Способ оплаты:
					p Наличными курьеру при получении
		.profile__info__repeat
			.container
				.row
					.col-xs-12.flex
						span !
						p Как только ваша корзина белья<br>заполнится нажмите кнопку ниже
		.profile__info__repeat--link
			a(href="thank.html") Вызвать курьера