.page(data-page='registration').registration.login
	.page-content
		.breadcrumb
			.container
				.row
					.col-xs-12
						h2 Регистрация
		.container
			.row
				.col-xs-12
					p Для регистрации введите номер телефона. Пароль для входа будет выслан SMS сообщением. 
					input#phone(type="tel" placeholder="+7(***)***-**-**")
					input#registration(type="submit" value="Отправить")