.page(data-page='subscriptions').subscriptions
	.page-content
		.breadcrumb
			.container
				.row
					.col-xs-12
						h2 Абонементы
		.container.subscriptions__container
			.row
				.col-xs-12
					a(href="subscriptions-1.html").subscriptions__block.subscriptions__block--1
						img(src="img/subscriptions-1.svg", alt="")
						h3 Абонемент<br>по корзинам<br>белья
					p Краткая информация о абонементах, которые у нас есть, их преимущества.
					.more-text(style="display: none")
						p Краткая информация о абонементах, которые у нас есть, их преимущества.
					a(href="#").more Подробнее
				.col-xs-12
					hr
				.col-xs-12
					a(href="subscriptions-2.html").subscriptions__block.subscriptions__block--2
						img(src="img/subscriptions-2.svg", alt="")
						h3 Абонемент<br>по количеству<br>вещей
					p Краткая информация о абонементах, которые у нас есть, их преимущества.
					.more-text(style="display: none")
						p Краткая информация о абонементах, которые у нас есть, их преимущества.
					a(href="#").more Подробнее
		include footer.pug
 
