.page(data-page='profile').profile__thank
	.page-content
		.container
			.row
				.col-xs-12.center-xs
					p Спасибо, наш менеджер свяжется с Вами в ближайшее время для уточнения времени приезда курьера. 
					img(src="img/thank.svg", alt="")
					a.btn(href="profile.html") Перейти в личный кабинет
